body {
	background-color: #018EC6;
	font-family: "Lato",sans-serif;
	color: #ECEEEE;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 15px;
	font-weight: 300;
	

}

h1 {
 	font-family: "Lato",sans-serif;
 	line-height: 2.42857143;
 	color: #008EC8;
 	margin: 0% 0% 0% 6%;
 	/*margin: 0px 0px 0px 100px;*/
 	/*padding: 0px 0px 0px 0px;*/
 	font-weight: 600;
 }
 

p.support {
	margin-top:4%;
}


.topRow {
	background-color: #FFFFFF;
	
}

.screen img {
	width: 100%;
}

.device-container {
	max-width: 300px;
	/*max-width: 44%;*/
}

.description-column {
	/*padding-left: 100px;
	margin-top: 100px;*/
	padding-left: 6%;
	margin-top: 6%;
}

.iphone-column {
	/*margin-top: 90px;
	padding-left: 100px;*/
	margin-top: 5%;
	padding-left: 4%;

}

div.appIcon {
	/*margin-top: 40px;*/
	margin-top: 40px;
}

/*portrait mode*/
/*iphone 4s/5/5s/6/6+ */

@media screen and (max-width: 414px) {

	div.appIcon {
		text-align:center;
	}

	.device-container {
	    display:block;
	    margin-right: auto;
	    margin-left: auto;
	}

}

/*landscape mode */
/*iphone for 4s/5/5s/6/6+ */

@media screen and (max-width: 736px) {

	p, ol {
		text-size-adjust: none;
	}

	div.appIcon {
		text-align:center;
	}

	.device-container {
	    display:block;
	    margin-right: auto;
	    margin-left: auto;
	}
}



